{% extends 'base.html' %}
{% block content %}
    <br><br>
    <div class="container jumbotron">
            <h2>Enter Payment id:</h2>
             <form action="{% url 'cart_name' x.id %}" method="post">
                 {% csrf_token %}
                 <input type="text" name="payment" placeholder="Enter payment id" class="form-control" style="width: 300px"><br>
                 <button type="submit" class="btn btn-outline-primary">Add</button>
             </form>
    </div>
{% endblock %}

